<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>

    <body>

        <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
            <div class="container">
                <div class="navbar-header">
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </header>

        <div class="jumbotron">
            <div class="container">

                <h1>Ridiculously simple bot control</h1>

                <h5>This will be fleshed out properly at some point</h5>

                <p>
                    <form class="form-inline" action="/shutdown" method="GET">

                        <button type="submit" class="btn btn-primary">Shutdown bot</button>

                    </form>
                </p>
            </div>
        </div>

    </body>
</html>
